body {
  background-color: #eee;
  height: 100%;
}

.wrapper {
  background-color: #ddd;
  display: table;
  height: 100%;
  width: 640px;
}

.top {
  background-color: #fee;
  height: 100%;
}

.top > form {
  background-color: #fdd;
  width: auto;
}

.top > form > * {
  background-color: #fcc;
  display: block;
}

.top > div {
  background-color: #faa;
  width: 100%;
}

.content {
  background-color: #efe;
  height: 100%;
}

iframe {
  border: none;
  height: 100%;
  width: 100%;
}