.wrapper {
  display: table;
  height: 100%;
  width: 0;
}

.top {
  height: 100%;
}

.top > form {
  width: auto;
}

.top > form > * {
  display: block;
}

.top > div {
  width: 100%;
}

.content {
  height: 100%;
}

iframe {
  border: none;
  height: 100%;
  width: 100%;
}