.wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

.header {
  display: table-row;
}

iframe {
  border: none;
  display: table-row;  /* height is dynamic, and will expand... */
  height: 100%;        /* ...as content is added (won't scroll) */
  width: 100%;
}